APP_PORT=4004
APP_ENV=local

DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres

JWT_SECRET=
JWT_EXPIRES_IN=600
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=604800

SENTRY_DSN=
